* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-size: 62.5%;
}
html,
body,
.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  overflow: hidden;
}
header {
  width: 100%;
  background: #900;
  position: relative;
  padding: 2rem 0;
}
header h2 {
  text-align: center;
  font-size: 18px;
  color: #fff;
}
header .return {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  background: url("../img/fan.png") no-repeat;
  background-size: cover;
  width: 3rem;
  height: 3rem;
  display: none;
}
header .fav {
  display: none;
}
header .search {
  position: absolute;
  right: 10px;
  top: 25px;
}
.main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: pink;
  position: relative;
  -webkit-box-flex: 1;
}
.main > div {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  transform: translateX(100%);
}
.main > div:nth-child(1) {
  transform: translateX(0);
}
.home {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
}
.home a {
  display: block;
  padding: 0.5rem 0;
}
.home a img {
  width: 290px;
  height: auto;
}
footer {
  background: #000;
  position: relative;
}
footer nav {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  overflow: hidden;
  padding: 0.5rem 0;
}
footer nav a {
  position: relative;
  z-index: 2;
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}
.mark {
  width: 25%;
  height: 100%;
  box-shadow: 0 3px 8px #FFFFFF;
  background: #000000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.list-iscroll > div {
  border-bottom: 1px solid darkgray;
}
.list-iscroll > div span {
  vertical-align: middle;
  margin-left: 2rem;
}
.list-iscroll > div a img {
  vertical-align: middle;
}
.list-iscroll div a {
  text-decoration: none;
  color: darkolivegreen;
}
#content {
  font-size: 1.8rem;
  line-height: 2rem;
}
